<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>ArmenianBible</string>
    <key>CFBundleDisplayName</key>
    <string>ArmenianBible</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>2.2</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>ArmenianBible</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>audio</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>AppIcon</string>
            </array>
            <key>CFBundleIconName</key>
            <string>AppIcon</string>
        </dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>AppIcon-PitchBlack</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-PitchBlack60x60</string>
                    <string>AppIcon-PitchBlack76x76</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <true/>
            </dict>
            <key>AppIcon-GoldenGlow</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-GoldenGlow60x60</string>
                    <string>AppIcon-GoldenGlow76x76</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <true/>
            </dict>
            <key>AppIcon-RoyalIndigo</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-RoyalIndigo60x60</string>
                    <string>AppIcon-RoyalIndigo76x76</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <true/>
            </dict>
        </dict>
    </dict>
    <key>CFBundleIcons~ipad</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>AppIcon</string>
            </array>
            <key>CFBundleIconName</key>
            <string>AppIcon</string>
        </dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>AppIcon-PitchBlack</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-PitchBlack60x60</string>
                    <string>AppIcon-PitchBlack76x76</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <true/>
            </dict>
            <key>AppIcon-GoldenGlow</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-GoldenGlow60x60</string>
                    <string>AppIcon-GoldenGlow76x76</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <true/>
            </dict>
            <key>AppIcon-RoyalIndigo</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-RoyalIndigo60x60</string>
                    <string>AppIcon-RoyalIndigo76x76</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <true/>
            </dict>
        </dict>
    </dict>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string>LaunchBackground</string>
        <key>UIImageName</key>
        <string>LaunchImage</string>
        <key>UIImageRespectsSafetyMargins</key>
        <true/>
    </dict>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CADisableMinimumFrameDuration</key>
    <true/>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>com.samvel.armenianbible</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>armenianbible</string>
            </array>
        </dict>
    </array>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>We need permission to save generated Bible verse wallpapers to your Photos library.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need permission to save generated Bible verse wallpapers to your Photos library.</string>
    <key>NSUserTrackingUsageDescription</key>
    <string>We use this identifier to deliver relevant and high-quality ads.</string>
    <key>SKAdNetworkItems</key>
    <array>
        <dict>
            <key>SKAdNetworkIdentifier</key>
            <string>v9wttpbfk9.skadnetwork</string>
        </dict>
        <dict>
            <key>SKAdNetworkIdentifier</key>
            <string>n38lu8286q.skadnetwork</string>
        </dict>
    </array>
    <key>FacebookAppID</key>
    <string>2096476450939558</string>
    <key>FacebookDisplayName</key>
    <string>Armenian Bible</string>
</dict>
</plist>
